<% layout('layouts/boilerplate') %>

    <style>
        body {
            height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="container">
        <H1>Yelp Camp</H1>

        <a href="/campgrounds" class="btn btn-primary btn-mid">All Campground</a>

        <a href="/campgrounds/new" class="btn btn-primary btn-mid">Add Campground</a>
    </div>