<% layout('layouts/boilerplate') %>

    <H1>Yelp Camp</H1>

    <a href="/campgrounds" class="btn btn-primary btn-mid">All Campground</a>

    <a href="/campgrounds/new" class="btn btn-primary btn-mid">Add Campground</a>